/* COL */
@media(max-width:768px) { .col-xs-12 { width: 100% !important; } }


/* WIDTH */
@media (min-width:769px) {
	.w-md-388px{width:388px;}
	.w-md-350px{width:350px;}
	.h-md-350px{height:350px;}
}
@media (max-width:768px) {
	.w-xs-100{width:100%;}
	.w-xs-300px{width:340px;}
}


/* HEIGHT */
.h-min-125{min-height: 125px;}
.h-100vh{height: 100vh;}
@media (min-width: 769px) { .h-md-100vh {height: 100vh;} }
.h-300px { height: 300px; }
.h-400px { height: 400px; }
.h-85px { height: 85px; }
.h-50px { height: 50px; }
@media (max-width:768px) {
	.h-xs-300px{height:340px;}
}


/* FONTS */
.font-raleway{font-family:'Raleway',sans-serif;}
.font-worksans{font-family: 'Work Sans', sans-serif;}
.font-sintony{font-family: 'Sintony', sans-serif;}


/* WEIGHT */
.weight-100{font-weight:100;}
.weight-200{font-weight:200;}
.weight-300{font-weight:300;}
.weight-400{font-weight:400;}
.weight-500{font-weight:500;}
.weight-600{font-weight:600;}
.weight-700{font-weight:700;}
.weight-800{font-weight:800;}
	

/* FONT SIZE */
.fs-10{font-size:10px;}
.fs-11{font-size:11px;}
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fs-17{font-size:17px;}
.fs-18{font-size:18px;}
.fs-19{font-size:19px;}
.fs-20{font-size:20px;}
.fs-21{font-size:21px;}
.fs-22{font-size:22px;}
.fs-37{font-size:37px;}
.fs-50{font-size:50px;}
@media (min-width: 769px) { .fs-md-70{font-size: 70px;} }


/* MARGIN */
.mh-2 { margin-left: 2rem!important; margin-right: 2rem!important; }
.mt-10 { margin-top: 8rem!important; }
.mb-9 { margin-bottom: 7rem!important; }
.mt-9 { margin-top: 7rem!important; }
.mt-7 { margin-top: 5rem!important;  }
.mb-7 { margin-bottom: 5rem!important; }
.mt-6 { margin-top: 4rem!important; }
.mb-6 { margin-bottom: 4rem!important; }
.mt-4-5 {margin-top: 2.3rem!important;}
.mt--33 { margin-top: -33px; }
.mb--5 { margin-bottom: -5px; }

@media (max-width:768px) {
	.ml-xs--5 { margin-left: -5px; }
}

@media (min-width: 769px) {
	.ml-md-6 { margin-left: 4rem!important; }
	.mr-md-6 { margin-right: 4rem!important; }
}
@media (max-width: 768px) {
	.mb-xs-5 { margin-bottom: 3rem!important; }
	.mb-xs-2 { margin-bottom: 1rem!important; }
}


/* PADDING */
.p-2-5 {
    padding:0.75rem!important;
}


/* POSITION */
.p-absolute { position: absolute; }
.p-fixed { position: fixed; } 
.bottom-0 { bottom: 0; }
.right-0 { right:0px; }


/* LETTER SPACING */
.ls-1{letter-spacing:1px;}
.ls-075{letter-spacing:0.75px;}
.ls-05{letter-spacing:0.5px;}


/* OUTLINE */
.outline-0 { outline: 0px!important; }


/* CURSOR */
.cursor-notallowed { cursor: not-allowed; }
.cursor-pointer { cursor: pointer; }


/* DECORATION */
.hover-d-none:hover {  text-decoration: none; }


/* OVERFLOW */
.overflow-hidden { overflow: hidden; }


/* COLOR */
.text-e2 { color:#e2e2e2; }
.text-dourado { color: #d3b11b; }
.text-db { color: #dbdbdb; }

/* BACKGROUND */
.bg-2d { background: #2d2d2d; }
.bg-222 { background: #222; }
.bg-gray-15 { background: rgba(71, 71, 71, .15); }
.bg-gray-25 { background: rgba(71, 71, 71, .25); }


/* ROUNDED */
.rounded-left-0 { border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important; }


/* RESIZE */
.resize-none { resize: none; }


/* COMPONENTS */ 
.divider-v {height: 60px;width: 2px;}
